@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --foreground-rgb: 30, 41, 59;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
  --color-bg: #14171f;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-theme: #44d8b7;
  --color-hover: #319b84;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #14171f;
    --background-start-rgb: #14171f;
    --background-end-rgb: #14171f;
  }
}

body {
  color: #14171f;
  background: #14171f;
  font-family: "Inter", "Man Rope", sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  padding-bottom: 7rem;
  padding-top: 7rem;
}
